<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
        * {
          box-sizing: border-box;
        }
        
        body {
          background-color: #474e5d;
          font-family: Helvetica, sans-serif;
        }
        h3{
          overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
  height: 20px;
        }
        
        /* The actual timeline (the vertical ruler) */
        .timeline {
          position: relative;
          max-width: 1200px;
          margin: 0 auto;
          overflow:hidden;
          word-wrap:break-word;
        }
        
        /* The actual timeline (the vertical ruler) */
        .timeline::after {
          content: '';
          position: absolute;
          width: 6px;
          background-color: white;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -3px;
        }
        
        /* Container around content */
        .container {
          padding: 10px 40px;
          position: relative;
          background-color: inherit;
          width: 50%;
        }
        
        /* The circles on the timeline */
        .container::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          right: -17px;
          background-color: white;
          border: 4px solid #FF9F55;
          top: 15px;
          border-radius: 50%;
          z-index: 1;
        }
        
        /* Place the container to the left */
        .left {
          left: 0;
        }
        
        /* Place the container to the right */
        .right {
          left: 50%;
        }
        
        /* Add arrows to the left container (pointing right) */
        .left::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          right: 30px;
          border: medium solid white;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent white;
        }
        
        /* Add arrows to the right container (pointing left) */
        .right::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          left: 30px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
        
        /* Fix the circle for containers on the right side */
        .right::after {
          left: -16px;
        }
        
        /* The actual content */
        .content {
          padding: 20px 30px;
          background-color: white;
          position: relative;
          border-radius: 6px;
        }
        
        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
          /* Place the timelime to the left */
          .timeline::after {
          left: 31px;
          }
          
          /* Full-width containers */
          .container {
          width: 100%;
          padding-left: 70px;
          padding-right: 25px;
          }
          
          /* Make sure that all arrows are pointing leftwards */
          .container::before {
          left: 60px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
          }
        
          /* Make sure all circles are at the same spot */
          .left::after, .right::after {
          left: 15px;
          }
          
          /* Make all right containers behave like the left ones */
          .right {
          left: 0%;
          }
        }
        </style>
  </head>
  
  
      <div class="sidenav">
          <% if(locals.name) {%>
            <div class="wrapper">
            <h1> <%= name %> </h1>
            <a href="/users/logout"><button>LOGOUT</button></a>
          </div>
          <% } %>
        <a href="/diary/show">DiaryWrite</a>
        <a href="/diary/secret">SecretDiary</a>
        <a href="/diary/texts">PublicDiary</a>
      </div>
  <body>
    <div class = "main">
    <h1>비공개 일기장 보기</h1>
    <a href="show"><button><%= name %>님 일기 작성하기</button></a>
    <hr />
    <table>
        

        <div class="timeline">
        <% for(var i=posts.length-1; i>=0 ; i--) { %>
            <% if(posts[i].email === name) {%>
          <% if(posts[i].id%2 === 0 && posts[i].public==="secret"){ %>
            <div class="container left">
              <div class="content">
                  <h3><%= posts[i].createdAt %></h3>
                  <h4><%= posts[i].email %> </h4>
                  <p><%= posts[i].content %>
                  
                  <button ><a href="edit/<%=posts[i].id%>">수정하기</a></button>
                  <form action="/diary/delete/<%=posts[i].id%>" method="post">
                    <input type="submit" value="삭제하기"></input>
                  </form>
                  
                  </p>
              </div>
            </div>
          <% } %>
          <% }%>
          <% if(posts[i].email === name) {%>
          <% if (posts[i].id%2 === 1 && posts[i].public==="secret"){ %>
            
              <div class="container right">
                <div class="content">
                    <h3><%= posts[i].createdAt %></h3>
                    <h4><%= posts[i].email %> </h4>
                    <p><%= posts[i].content %>
                      
                        <button ><a href="edit/<%=posts[i].id%>">수정하기</a></button>
                        <form action="/diary/delete/<%=posts[i].id%>" method="post">
                          <input type="submit" value="삭제하기"></input>
                        </form>
                       
                    </p>
                </div>
              </div>     
            <% } %>
            <% }%>
          <% }%>
        </div>
          <tr>
              <% if(posts.email === name) {%>
              <td><button ><a href="edit/<%=post.id%>">수정하기</a></button></td>
          
          <form action="/diary/delete/<%=post.id%>" method="post">
              <td><input type="submit" value="삭제하기"></input></td>
          </form>
        </tr> 
          

            <form action="/diary/reply/<%=post.id%>" method="post">
              <tr>
                  <td><input type="text" name="replyContent" placeholder="내용을 입력해주세요"></td>
              </tr>
              <tr>
                  <td><input type="submit" value="댓글 등록"></td>
              </tr>

          </form>


          <% if(post.replys){
            for(let reply of post.replys){ %>
            <tr>
                <td><%= reply.dataValues.comment %></td>
                <td><%= reply.dataValues.email %></td>
              <% if(reply.dataValues.email === name) {%>
            <form action="/diary/reply-delete/<%=reply.dataValues.id%>" method="post">
                <td><input type="submit" value="삭제하기"></input></td>
            </form>
          </tr>
          <% }%>
            <% } %>
        <% } %>



        <% } %>

        
    </table>
  </div>
  </body>
</html>
